
.container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.row{
    align-items: center;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}
.btn:hover{
    border: 1px solid black;
}
.btn-google {
    color: #545454;
background-color: #ffffff;
box-shadow: 0 1px 2px 1px #ddd;
}
.msg{
font-weight: bold;
    font-size: 30px;
}
.msg2{
    color: #6e6e6e;
}
.msg3{
    color: #6e6e6e;
}
#a3{
    color: black;
    font-size: 16px;
    font-weight: bold;
}
#a3:hover{
color: red;
text-decoration: none;
}